
<div class="container">
  
    <form class="col-md-6 outer-style" [formGroup]="service.form">    
      <div class="col-md-12 header-style mb-3">Personal Information</div>
      <div class="row"> 
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Id</mat-label>
            <input #stdId maxlength="5" placeholder="Ex. 12048" formControlName="$Key" matInput>
            <mat-hint align="end">{{stdId.value.length}} / 5</mat-hint>
            </mat-form-field>  
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Full Name*</mat-label>
            <input formControlName="Fullname"  matInput>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </div>
     

      
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email *</mat-label>
            <input formControlName="email"  matInput placeholder="Ex. abc@gmail.com">
            <mat-error>Invalid emal address</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input formControlName="Telephone" type="tel" matInput placeholder="555-555-1234">
            <mat-error *ngIf="service.form.controls['mobile'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="service.form.controls['mobile'].errors?.length">10 charactors needed</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Age</mat-label>
            <input formControlName="age" matInput placeholder="Ex. 19">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-radio-group aria-label="Gender" formControlName="gender">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
              <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
      </mat-form-field>
        </div>
      </div>
       
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <textarea formControlName="address" matInput placeholder="Ex. H#612,I-10/2 Main St"></textarea>
          </mat-form-field>
        </div>
      </div>
     
      <div class="row">
          <div class="col-md-4">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>City</mat-label>
              <input formControlName="city" matInput placeholder="Ex. Islamabad">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>State</mat-label>
              <input formControlName="state" matInput placeholder="Ex. Punjab">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Postal Code</mat-label>
              <input formControlName="postalcode" matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </div>
      </div>
      <div class="row">
        <button type="submit" class="px-5 mr-3" mat-raised-button color="primary" [disabled]="service.form.invalid">Submit</button>
        <button class="px-5" mat-raised-button color="warn" (click)='onClear()'>Clear</button>

      </div>
    </form>
</div>

