/* You can add global styles to this file, and also import other style files */


  
.full-width {
    width: 100%;
  }
 
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container
{
    padding:10px 0px 0px 10px
}
.header-style{
font-size: x-large;
font-weight: 600;
font-family: monospace;
background-color:#673ab7 ;
text-align: center;
color: white;
padding: 10px 0px 10px 0px;


}
.outer-style{
  background-color: #d9d9d972;
  padding: 10px;
  border:2px solid #acacac;
  border-radius: .6rem;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #673ab7;
}